.button1{
  padding-left: 100px;
  background-color: #911511;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 25px 500px;
  cursor: pointer;
}

.button2{
  position: absolute;
  background-color: #911511;
  -webkit-border-radius: 20px;  
  -moz-border-radius: 20px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 25px -490px;
  cursor: pointer;
}

.methods{
   position: absolute;
   margin-top: 37px;
   margin-left: 587px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: white;
   background-color: #911511;
}

.textarea1{
    position: relative;
    margin-top: 5px;
    margin-left: 450px;
    border:1px solid black;
    box-shadow: 0 0 15px #911511;
    resize: none;
    height: 200px;
    width:30%
}

.textarea2{
    position: relative;
    margin-bottom: 1px;
    margin-left: 146px;
    border:1px solid black;
    box-shadow: 0 0 15px #911511;
    resize: none;
    height: 200px;
    width:30%
}

.textarea3{
    position: relative;
    margin-top: 5px;
    margin-left: 190px;
    border:1px solid black;
    box-shadow: 0 0 15px #911511;
    resize: none;
    height: 200px;
    width:30%
}

.ciphertext{
    position: absolute;
    padding-left :280px;
    padding-top: 1px;
}

.decodedtext{
    position: absolute;
    padding-left :875px;
    padding-top: 2px;
}

.plaintext{
    position: absolute;
    margin-top: -35px;
    padding-left: 615px;
}

.shift_select{
   position: absolute;
   margin-top: 272px;
   margin-left: -370px;
   background: transparent;
   -webkit-border-radius: 20px;  
   -moz-border-radius: 20px;
   border: none;
   font-size: 14px;
   height: 27px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;
   background-color: #911511;
}

.text1{
    position: absolute;
    margin-left: 500px;
}
    
.shift{
    position: absolute;
    padding-left: 600px;
    padding-top: 3px;
}

.a{
    position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%; 
}
