.button1{
  padding-left: 100px;
  background-color: white;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border: none;
  color: purple;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 25px 500px;
  cursor: pointer;
}

.button2{
  position: absolute;
  background-color: white;
  -webkit-border-radius: 20px;  
  -moz-border-radius: 20px;
  border: none;
  color: purple;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 25px -490px;
  cursor: pointer;
}

.methods{
   position: absolute;
   margin-top: 37px;
   margin-left: 586px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: purple;
   background-color: white;
}

.textarea1{
    position: relative;
    margin-top: 5px;
    margin-left: 445px;
    border:1px solid white;
    box-shadow: 0 0 15px #911511;
    resize: none;
    height: 200px;
    width:30%
}

.textarea2{
    position: relative;
    margin-bottom: 1px;
    margin-left: 146px;
    border:1px solid white;
    box-shadow: 0 0 15px #911511;
    resize: none;
    height: 200px;
    width:30%
}

.textarea3{
    position: relative;
    margin-top: 5px;
    margin-left: 190px;
    border:1px solid white;
    box-shadow: 0 0 15px #911511;
    resize: none;
    height: 200px;
    width:30%
}

.ciphertext{
    position: absolute;
    padding-left :305px;
    padding-top: 1px;
    color: white;
}

.decodedtext{
    position: absolute;
    padding-left :903px;
    padding-top: 2px;
    color: white;
}

.plaintext{
    position: absolute;
    margin-top: -35px;
    padding-left: 615px;
    color: white;
}

.shift_select{
   position: absolute;
   margin-top: 272px;
   margin-left: -367px;
   background: transparent;
   -webkit-border-radius: 20px;  
   -moz-border-radius: 20px;
   border: none;
   font-size: 14px;
   height: 27px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 268px;
   background-color: white;
   color: purple;
}

.text1{
    position: absolute;
    margin-left: 500px;
    color: white;
}
    
.shift{
    position: absolute;
    padding-left: 600px;
    padding-top: 3px;
    color: white;
}

body {
    background-image: url("https://image.freepik.com/free-vector/technology-background-with-gradient-colors_23-2147837710.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}
